.jp-audio :focus {
    outline: 0;
    display: flex;
    align-items: center;
}

.jp-audio button::-moz-focus-inner {
    border: 0
}
.jp-audio {
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    color: #666;
    background-color: white;
    /* border-top: 1px solid #e0e0e0; */
    /* border-radius: 8px; */
 }

.jp-audio {
    overflow:hidden;
    height: 100%;
    align-items: center;
    padding-right: 10px;
}


.jp-interface {
    position: relative;
    width: 100%
}

.jp-audio .jp-interface {
    height: 60px
}


.jp-interface .jp-controls {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jp-audio .jp-controls {
    position: absolute;
    top: 25%;left:10px

}

.jp-controls button {
    display: flex;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    align-items: center;

}

.jp-play {
    width: 25px;
    height: 25px;
    background: url(../../static/icon/play.png);
    background-size: contain;
}

.jp-play:focus {
    background: url(../../static/icon/play.png);
    background-size: contain;
}

.jp-state-playing .jp-play {
    background: url(../../static/icon/zanting.png);
    background-size: contain;
}

.jp-state-playing .jp-play:focus {
    background: url(../../static/icon/zanting.png);
    background-size: contain;
}

.jp-next, .jp-previous, .jp-stop {
    width: 28px;
    height: 28px;
    margin-top: 6px
}



.jp-progress {
    /* overflow: hidden; */
    background-color: #e0e0e0;
    border-radius: 8px;

}

.jp-audio .jp-progress {
    position: absolute;
    top: 15px;
    height: 15px;
    border-radius: 8px;

    
}

.jp-audio .jp-type-single .jp-progress {
    left: 50px;
    /* width: calc(100% - 200px) */
    width: 85%;
    border-radius: 8px;

}


.jp-seek-bar {
    width: 0;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;

}

.jp-state-no-volume .jp-volume-controls {
    display: none
}



.jp-play-bar {
    /* background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -218px repeat-x; */
    background-color: #ff9b9b;
    width: 0;
    height: 100%;
    border-radius: 8px;
}

.jp-seeking-bg {
    /* background: url(../../static/icon/jplayer.blue.monday.seeking.gif) */
    border-radius: 8px;
}

.jp-audio .jp-time-holder {
    position: absolute;
    top: 35px;
}

.jp-audio .jp-type-single .jp-time-holder {
    left: 50px;
    width: 85%
}


.jp-current-time, .jp-duration {
    width: 60px;
    font-size: .64em;
    font-style: oblique
}

.jp-current-time {
    float: left;
    display: inline;
    cursor: default
}

.jp-duration {
    float: right;
    display: inline;
    text-align: right;
    cursor: pointer
}




.jp-jplayer {
    border: 1px solid #e0e0e0;
}
