.jp-audio :focus {
    outline: 0;
    display: flex;
    align-items: center;
}

.jp-audio button::-moz-focus-inner {
    border: 0
}

.jp-audio {
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    color: #666;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;


    /* background-color: #eee */
}

.jp-audio {
    width: calc(100%-366px); overflow:hidden;min-width:400px;
    height: 100%;
    align-items: center;
}


.jp-interface {
    position: relative;
    /* background-color: #eee; */
    width: 100%
}

.jp-audio .jp-interface {
    height: 60px
}


.jp-interface .jp-controls {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.jp-audio .jp-controls {
    position: absolute;
    top: 10px;left:10px
}

.jp-controls button {
    display: flex;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    cursor: pointer

}

.jp-play {
    /* width: 40px;
    height: 40px;
    background: url(../../static/icon/jplayer.blue.monday.jpg) no-repeat */
    width: 25px;
    height: 25px;
    background: url(../../static/icon/play.png);
    background-size: contain;
}

.jp-play:focus {
    background: url(../../static/icon/play.png);
    background-size: contain;
}

.jp-state-playing .jp-play {
    background: url(../../static/icon/zanting.png);
    background-size: contain;
}

.jp-state-playing .jp-play:focus {
    /* background: url(../../static/icon/jplayer.blue.monday.jpg) -41px -42px no-repeat */
    background: url(../../static/icon/zanting.png);
    background-size: contain;
}

.jp-next, .jp-previous, .jp-stop {
    width: 28px;
    height: 28px;
    margin-top: 6px
}

.jp-stop {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -83px no-repeat;
    margin-left: 10px;
    visibility: hidden;
}

.jp-stop:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -29px -83px no-repeat
}

.jp-previous {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -112px no-repeat
}

.jp-previous:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -29px -112px no-repeat
}

.jp-next {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -141px no-repeat
}

.jp-next:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -29px -141px no-repeat
}

.jp-progress {
    /* overflow: hidden; */
    background-color: #e0e0e0;
    border-radius: 8px;

}

.jp-audio .jp-progress {
    position: absolute;
    top: 15px;
    height: 15px;
    border-radius: 8px;

    
}

.jp-audio .jp-type-single .jp-progress {
    left: 100px;
    /* width: calc(100% - 200px) */
    width: 70%;
    border-radius: 8px;

}


.jp-seek-bar {
    /* background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -202px repeat-x; */
    width: 0;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;

}

.jp-state-no-volume .jp-volume-controls {
    display: none
}



.jp-volume-controls {
    position: absolute;
    top: 22px;
     right:15px;      
    width: 75px;

}




.jp-volume-controls button {
    display: block;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    border: none;
    cursor: pointer
}

.jp-mute, .jp-volume-max {
    width: 18px;
    height: 15px
}

.jp-volume-max {
    left: 56px
}

.jp-mute {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -170px no-repeat
}

.jp-mute:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -19px -170px no-repeat
}

.jp-volume-max {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -186px no-repeat
}

.jp-volume-max:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -19px -186px no-repeat
}

.jp-volume-bar {
    position: absolute;
    overflow: hidden;
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -250px repeat-x;
    top: 5px;
    left: 18px;
    width: 30px;
    height: 5px;
    cursor: pointer
}

.jp-volume-bar-value {
    background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -256px repeat-x;
    width: 0;
    height: 5px
}



.jp-play-bar {
    /* background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -218px repeat-x; */
    background-color: #ff9b9b;
    width: 0;
    height: 100%;
    border-radius: 8px;
}

.jp-seeking-bg {
    /* background: url(../../static/icon/jplayer.blue.monday.seeking.gif) */
    border-radius: 8px;
}

.jp-audio .jp-time-holder {
    position: absolute;
    top: 35px
}

.jp-audio .jp-type-single .jp-time-holder {
    left: 100px;
    width: 70%
}


.jp-current-time, .jp-duration {
    width: 60px;
    font-size: .64em;
    font-style: oblique
}

.jp-current-time {
    float: left;
    display: inline;
    cursor: default
}

.jp-duration {
    float: right;
    display: inline;
    text-align: right;
    cursor: pointer
}



.jp-jplayer, .jp-jplayer audio {
    width: 0;
    height: 0;
    background-color: rebeccapurple;
}

.jp-jplayer {
    background-color: #000; 
    border: 1px solid #e0e0e0;
    background-color: rebeccapurple;

}

.jp-toggles {
    padding: 0;
    margin: 0 auto;
    overflow: hidden

}

.jp-toggles a:hover {
	padding:0px;BACKGROUND-COLOR: #f0f9fe;BORDER:0px;height:16px;
}
.menubar{white-space:nowrap;overflow: hidden;}



.jp-toggles  #mp3 {
    background: url(../../static/icon/icon.png) 0 -36px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles   #mp4 {
width:76px; height:16px;BACKGROUND: url(../../static/icon/icon/mp4.gif) no-repeat left top;display:inline-block;
}
.jp-toggles   #lrc {
    background: url(../../static/icon/icon.png) 0 -53px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles   #EnPage {
    background: url(../../static/icon/icon.png) 0 -2px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles   #CnPage {
    background: url(../../static/icon/icon.png) 0 -19px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles  #next {
    background: url(../../static/icon/icon.png) 0 -70px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles   #help {
    background: url(../../static/icon/icon.png) 0 -86px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}
.jp-toggles   #report {
    background: url(../../static/icon/icon.png) 0 -104px no-repeat; display:inline-block;
    width:46px; height:16px;margin-left: 5px
}




.jp-audio .jp-type-single .jp-toggles {
    width: calc(100%-120px)
}

.jp-toggles button {
    display: block;
    float: left;
    width: 25px;
    height: 18px;
    text-indent: -9999px;
    line-height: 100%;
    border: none;
    cursor: pointer
}


.jp-repeat {
    margin:3px 20px 0 0;background: url(../../static/icon/jplayer.blue.monday.jpg) 0 -290px no-repeat
}

.jp-repeat:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -30px -290px no-repeat
}

.jp-state-looped .jp-repeat {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -60px -290px no-repeat
}

.jp-state-looped .jp-repeat:focus {
    background: url(../../static/icon/jplayer.blue.monday.jpg) -90px -290px no-repeat
}

.jp-no-solution {
    padding: 5px;
    font-size: .8em;
    background-color: #eee;
    border: 2px solid #009be3;
    color: #000;
    display: none
}

.jp-no-solution a {
    color: #000
}

.jp-no-solution span {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: 700
}

